<form [formGroup]="loginForm" class="p-pt-3">
  <div class="ui-fluid formgrid p-grid">
    <div class="p-field p-col">
      <label for="username" class="p-col-2">User Name</label>
      <input
        type="text"
        pInputText
        id="username"
        formControlName="username"
        required
        autofocus
        class="p-col-4"
      />
    </div>
  </div>
  <div class="ui-fluid formgrid p-grid">
    <div class="p-field p-col">
      <label for="pwd" class="p-col-2">Password</label>
      <input
        type="password"
        pInputText
        id="pwd"
        formControlName="password"
        required
        autofocus
        class="p-col-4"
      />
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6 text-center">
      <button
        pButton
        pRipple
        label="Login"
        icon="pi pi-check"
        (click)="onLogin()"
      ></button>
    </div>
  </div>
</form>
