<p-dialog
  [(visible)]="userEditDialog"
  [style]="{ width: '50%' }"
  header="User Details"
  [modal]="true"
  [closable]="false"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="userForm">
      <div class="p-field">
        <label for="fname">First Name</label>
        <input
          type="text"
          pInputText
          id="fname"
          formControlName="firstName"
          required
          autofocus
        />
      </div>
      <div class="p-field">
        <label for="lname">Last Name</label>
        <input
          type="text"
          pInputText
          id="lname"
          formControlName="lastName"
          required
          autofocus
        />
      </div>
      <div class="p-field">
        <label for="dob">DOB</label>
        <p-calendar
          formControlName="dob"
          appendTo="body"
          dateFormat="mm/dd/yy"
        ></p-calendar>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="p-field p-grid p-mt-3">
      <div class="p-col text-center">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          (click)="saveUser()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '40%' }" styleClass="custom">
</p-confirmDialog>
